In [0]:

%matplotlib inline
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [0]:
from sklearn import preprocessing

In [0]:
data = pd.read_csv('shuttle.trn', header = None, sep=' ')

In [4]:
data.head()

    0   1   2  3   4   5   6   7   8  9
0  50  21  77  0  28   0  27  48  22  2
1  55   0  92  0   0  26  36  92  56  4
2  53   0  82  0  52  -5  29  30   2  1
3  37   0  76  0  28  18  40  48   8  1
4  37   0  79  0  34 -26  43  46   2  1

In [5]:
data.shape

(43500, 10)

In [0]:
col9 = data[9]
data2 = data.drop(columns=9)

In [7]:
data2.head()

    0   1   2  3   4   5   6   7   8
0  50  21  77  0  28   0  27  48  22
1  55   0  92  0   0  26  36  92  56
2  53   0  82  0  52  -5  29  30   2
3  37   0  76  0  28  18  40  48   8
4  37   0  79  0  34 -26  43  46   2

In [8]:
col9.head()

0    2
1    4
2    1
3    1
4    1
Name: 9, dtype: int64

In [9]:

from sklearn import preprocessing# Get column names first
names = data.columns[:-1]# Create the Scaler object
print(names)
scaler = preprocessing.StandardScaler()# Fit your data on the scaler object
scaled_df = scaler.fit_transform(data2)
scaled_df = pd.DataFrame(scaled_df, columns=names)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [10]:
scaled_df.head()

          0         1         2  ...         6         7         8
0  0.142849  0.271367 -0.936360  ... -0.766977 -0.135110  0.313294
1  0.550930  0.002625  0.747425  ... -0.081806  1.914930  1.638928
2  0.387697  0.002625 -0.375098  ... -0.614717 -0.973762 -0.466490
3 -0.918161  0.002625 -1.048612  ...  0.222715 -0.135110 -0.232555
4 -0.918161  0.002625 -0.711855  ...  0.451105 -0.228293 -0.466490

[5 rows x 9 columns]

In [0]:
scaled_df = scaled_df.join(col9)

In [20]:
scaled_df

              0         1         2         3  ...         6         7         8  9
0      0.142849  0.271367 -0.936360 -0.006408  ... -0.766977 -0.135110  0.313294  2
1      0.550930  0.002625  0.747425 -0.006408  ... -0.081806  1.914930  1.638928  4
2      0.387697  0.002625 -0.375098 -0.006408  ... -0.614717 -0.973762 -0.466490  1
3     -0.918161  0.002625 -1.048612 -0.006408  ...  0.222715 -0.135110 -0.232555  1
4     -0.918161  0.002625 -0.711855 -0.006408  ...  0.451105 -0.228293 -0.466490  1
...         ...       ...       ...       ...  ...       ...       ...       ... ..
43495 -0.183616  0.066611 -0.824108 -0.006408  ... -0.386326 -0.880579 -0.544469  1
43496 -0.918161  0.002625 -0.711855 -0.030796  ...  0.451105  0.843318  0.469251  1
43497 -0.020383  0.002625 -0.824108  0.066757  ... -0.538586 -0.880579 -0.466490  1
43498 -0.591696  0.002625 -0.711855 -0.006408  ...  0.070454 -0.507844 -0.466490  1
43499 -0.673313 -0.035767  1.645444 -0.006408  ...  1.821447  0.517175 -0.466490  1

[43500 rows x 10 columns]

In [0]:
scaled_df.to_csv('train.csv', index=False)

In [0]:
data = pd.read_csv('shuttle.tst', header = None, sep=' ')
data3 = data.drop(columns=9)
col9t = data[9]

In [0]:

from sklearn import preprocessing# Get column names first
names = data.columns[:-1]# Create the Scaler object
scaler = preprocessing.StandardScaler()# Fit your data on the scaler object
scaled_df1 = scaler.fit_transform(data3)
scaled_df1 = pd.DataFrame(scaled_df1, columns=names)

In [16]:
scaled_df1.head()

          0         1         2  ...         6         7         8
0  0.557315 -0.006946 -0.492030  ... -0.931508  1.746157  1.966424
1  0.639320 -0.006946  1.196168  ...  0.218920 -0.321336 -0.385564
2  0.147288 -0.019866  0.408342  ...  0.142225 -0.509290 -0.463963
3  0.393304  0.109336 -0.717124  ... -0.931508 -0.650256 -0.071965
4  0.557315  0.018895 -0.379484  ... -0.854813 -1.073152 -0.463963

[5 rows x 9 columns]

In [0]:
scaled_df1 = scaled_df1.join(col9t)

In [0]:
scaled_df1.to_csv('test2.csv', index = False)

In [0]:
data10 = pd.read_csv('test2.csv')

In [26]:
data10.head()

          0         1         2         3  ...         6         7         8  9
0  0.557315 -0.006946 -0.492030 -0.014676  ... -0.931508  1.746157  1.966424  4
1  0.639320 -0.006946  1.196168 -0.014676  ...  0.218920 -0.321336 -0.385564  4
2  0.147288 -0.019866  0.408342 -0.424818  ...  0.142225 -0.509290 -0.463963  1
3  0.393304  0.109336 -0.717124 -0.014676  ... -0.931508 -0.650256 -0.071965  4
4  0.557315  0.018895 -0.379484 -0.014676  ... -0.854813 -1.073152 -0.463963  1

[5 rows x 10 columns]